/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

* text eol=lf
*.sh text eol=lf

# 폰트 파일 설정
*.ttf binary
*.otf binary

# 이미지 파일 설정
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary